  <!-- property details and contact agent  card-->
  <section class="section-padding">
    <div class="flex flex-col md:flex-row md:space-x-4  container">
      <!-- First card -->
      <div class="md:w-1/2 md:order-2">
        <mat-list>
          <div mat-subheader><span class="branding-color">List, Live, Thrive:</span> &nbsp;<span class="text-black"> Tips for Renting and Selling</span></div>
            <mat-list-item class="h-auto mt-8">
              <img src="assets/attractive-look.png" class="w-10"/>
              <div matListItemTitle class="text-base ml-3">Attractive Look & Quality Photographs – Professional images, clean
                backgrounds, etc., will make your property look decent and genuine.</div>
            </mat-list-item>
            <mat-list-item class="h-auto mt-6"> 
              <img src="assets/competetive.png" class="w-10"/>
              <div matListItemTitle class="text-base ml-3">Competitive Pricing – Add the current market prices without quoting too 
                ow or too high prices..</div>
            </mat-list-item>
            <mat-list-item class="h-auto mt-6">
              <img src="assets/location.png" class="w-10"/>
              <div matListItemTitle class="text-base ml-3">Location & Nearby landmarks – Mention location and nearby
                landmarks, hospitals, schools, transport, and entertainment options.</div>
            </mat-list-item>
          
            <mat-list-item class="h-auto mt-6">
              <img src="assets/engaging.png" class="w-10"/>
              <div matListItemTitle class="text-base ml-3">Engaging Communication – Keep your notifications on alert to reply to
                your targeted customer without fail..</div>
            </mat-list-item>

        </mat-list>
      </div>
     
      
      <!-- Second card -->
      <div class="md:w-1/2 md:order-1">
        <img src="assets/hug.png"/>
      </div>
    </div>
  </section>