
<!-- what we provide section -->
  <section class="py-24 card-bg-color">
          
    <div class="heading text-center	mb-8">
      <div class="text-2xl font-semibold">
        <span class="branding-color">What we</span> provide?
      </div>
      <p class="font-medium	 text-xs pt-2 opacity-60"> Seamless service with exceptional quality</p>
    </div>
    <div class=" container">
      <div class="flex  flex-col md:flex-row justify-between">
        <!-- First Card -->
        <mat-card class="relative section2-card mb-3 md:w-auto">
          <div class="absolute top-0 left-0 transform -translate-x-1/2 translate-y-1/2 bg-blue-500 text-white rounded-full w-16	 h-16 flex items-center justify-center">
            <img src="assets/zer-brokerage.png"/>
          </div>
         
          <mat-card-content>
            <mat-card-title class="branding-color text-xl font-semibold	">Zero Brokerage Fee</mat-card-title>
            <mat-card-subtitle class="font-medium text-base">No mediator, direct negotiation</mat-card-subtitle>
          </mat-card-content>
       
        </mat-card>
      
        <!-- Second Card -->
        <mat-card class="relative section2-card mb-3">
          <div class="absolute top-0 left-0 transform -translate-x-1/2 translate-y-1/2 bg-blue-500 text-white rounded-full w-16	 h-16 flex items-center justify-center">            
            <img src="assets/faster.png"/>
          </div>
         
          <mat-card-content>
            <mat-card-title class="branding-color text-xl font-semibold	">Faster Tenants/Buyers</mat-card-title>
            <mat-card-subtitle class="font-medium text-base">Reach more people in less time</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      
        <!-- Third Card -->
        <mat-card class="relative section2-card mb-3">
          <div class="absolute top-0 left-0 transform -translate-x-1/2 translate-y-1/2 bg-blue-500 text-white rounded-full w-16	 h-16 flex items-center justify-center">
            <img src="assets/user-friendly.png"/>
         </div>
         
          <mat-card-content>
            <mat-card-title class="branding-color text-xl font-semibold	">User-Friendly Platform</mat-card-title>
            <mat-card-subtitle class="font-medium text-base">Maximum exposure of listings</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>